* {
	box-sizing: border-box;
}
body {
	background-color: #202635;
}
h1 {
	color: aqua;
}
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.card {
	width: 80vw;
	height: 45vw;

	border: 1px solid black;
	border-radius: 20px;

	-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.52);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.52);

	background-image: url('./images/sparklers.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

	opacity: 0.5;
}
